<ion-header>
  <ion-toolbar>
    <ion-title>
      Persons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="getValidUser()">
    Click me
  </ion-button>

  <pre>{{person.gender}}</pre>

  <ion-card *ngIf="person.picture">
    <ion-card-header>
      <ion-avatar>
        <img [src]="person.picture.large">
      </ion-avatar>
        <ion-card-subtitle>{{person.name.title}} {{person.name.first}} {{person.name.last}}</ion-card-subtitle>
        <ion-card-title>{{person.login.username}}</ion-card-title>
      </ion-card-header>
    <ion-card-content>
      {{person.email}}
    </ion-card-content>
  </ion-card>

</ion-content>
